---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
  
	{% if page.tags contains 'raspberrypi' %}
	<p class="message">This post is part of a series on projects that I've done with a Raspberry Pi. Why not read some other [Raspberry Pi related posts]({% post_url adventures-with-a-raspberry-pi %})?</p>
	{% else %}
	<p>No Pi tag</p>
	{% endif %}

</article>

<aside class="related">
  <h2>Recent Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}/{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
